name: Release Published
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 16
      - run: npm install
      # - run: npm run test
      - uses: JS-DevTools/npm-publish@19c28f1ef146469e409470805ea4279d47c3d35c # v3.1.1
        with:
          token: ${{ secrets.NPM_PUBLISH_TOKEN }}
          access: public
      - name: getVersion
        id: getVersion
        shell: bash
        run: |
          VERSION=$(npm info . --json version | sed -e 's/"//g')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - uses: flowfuse/github-actions-workflows/actions/update-nr-flows@v0.49.0
        with:
          package: '@flowfuse/node-red-function-gpt'
          version: ${{ steps.getVersion.outputs.version }}